---
import { Username } from '../components/Header'
import UserInfo from '../components/UserInfo.astro'
import Layout from '../layouts/Layout.astro'
---

<!-- This is going to be the homepage of the app -->

<Layout title="Clerk + Astro">
  <p>Sign in to try Clerk out!</p>
  <Username client:load/>
  <UserInfo/>
</Layout>